---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<h1 class="text-white text-5xl font-bold  flex justify-center flex-row">
				Hola 👋, Eulogio <div class="flex justify-center"></div>
			</h1>
			<h2>Desarrollador fulls-stack Web y Mobile. Resido en Sevilla, España.</h2>

			<ul></ul>
		</section>
	</main>
</Layout>
