---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollando proyectos propios",
    company: "",
    description:
      "Actualmente, me dedico al desarrollo de proyectos personales y a la ampliación de mis competencias a través de formaciones especializadas, mientras busco oportunidades laborales en el dinámico sector tecnológico. Mi enfoque se centra en la innovación y el crecimiento continuo. Destaco por mi habilidad para trabajar eficazmente en equipo y mi entusiasmo por contribuir en proyectos desafiantes que impulsen el avance tecnológico.",
  },
  {
    date: "Marzo 2023 - Junio 2023",
    title: "Desarrollador Junior",
    company: "Operinter Holding S.L.",
    description:
      "Desarrollo de módulos de una aplicación de gestión de envíos internacionales. Desarrollo de interfaces de usuario y pruebas de funcionalidad. Tecnologías utilizadas: Visual Basic .Net, SQL Server, Winforms, Visual Studio 2019.",
  },
  {
    date: "Noviembre 2022 - Febrero 2023",
    title: "Desarrollador Junior",
    company: "Aplicaciones en Informáticas Avanzadas, AIA",
    description:
      "Creación de la documentación y manuales de usuario. Aprendizaje de las tecnologías utilizadas en el proyecto y su documentación. Pruebas de rendimiento con Azure DevOps. Herrmientas y tecnologías: Python,Docker, Azure, Visual Studio Code.",
  },
  {
    date: "Abril 2022 - Junio 2022",
    title: "Desarrollador Junior (Prácticas CFGS DAW)",
    company: "Vértice",
    description:
      "Prácticas del Ciclo Formativo Superior en Desarrollo de Aplicaciones Web (DAW). Trabajé con PHP mientras aprendía a utilizar Symphony 6 junto a mi compañero de prácticas. Creamos varios proyectos pequeños de prueba para probar las herramientas de desarrollo web que utilizamos.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>