---
const personalImageAlt = "Eulogio Enamorado Pallares";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-green-00 dark:[&>p>strong]:text-green-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Eulogio Enamorado Pallares y empecé en el mundo de la informática
      con 10 años con un ZX Spectrum +2A y su lenguaje de programación Basic.
    </p>

    <p class="text-green-800 dark:text-green-300">
      Actualmente estoy buscando trabajo como desarrollador de software
      (backend,frontend y/o móvil) en este dinámico sector tecnológico.
    </p>

    <p>
      Mientras surge la oportunidad laboral, me dedico al desarrollo de
      proyectos personales y a la ampliación de mis competencias a través de
      formaciones especializadas. Mi enfoque se centra en la <strong
        >innovación y el crecimiento continuo</strong
      >. Destaco por mi habilidad para trabajar eficazmente en equipo y mi
      entusiasmo por contribuir en proyectos desafiantes que impulsen el avance
      tecnológico.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/public/Yo.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-green-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
